.animation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.dotted-line {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    #555,
    #555 2px,
    transparent 2px,
    transparent 5px
  );
  animation: scrollDots 2s linear infinite;
}

.dotted-line2 {
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    #555,
    #555 2px,
    transparent 2px,
    transparent 5px
  );
  animation: scrollDots 2s linear infinite;
}
.dotted-line3 {
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    #555,
    #555 2px,
    transparent 2px,
    transparent 5px
  );
  animation: scrollDots 2s linear infinite;
}

.moving-ball {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #00bc91;
  box-shadow: 0 0 15px rgba(0, 188, 145, 0.9);
}

.moving-ball2 {
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #00bc91;
  box-shadow: 0 0 15px rgba(0, 188, 145, 0.9);
}
.moving-ball3 {
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #00bc91;
  box-shadow: 0 0 15px rgba(0, 188, 145, 0.9);
}
@keyframes scrollDots {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 30px;
  }
}
