*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gen-cont {
  height: 100vh;
  width: 100vw;
  z-index: -1000;
}


.rotate{
  transform: rotate(-45deg);
  transition: transform 0.2s linear;
}

.reverse{
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.openMenu{
  animation: menuOpen 0.3s forwards;
}



@keyframes menuOpen {
  100% {
    left: 0;
  }
}