.gen-cont {
  height: 100vh;
  width: 100%;
  background-color: #18191A;
  z-index: -1000;
}


.rotate{
  transform: rotate(-45deg);
  transition: transform 0.2s linear;
}

.reverse{
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}



